<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>yamarket</name>
	<displayName><![CDATA[Yandex Маркет Lite]]></displayName>
	<version><![CDATA[0.2]]></version>
	<description><![CDATA[Экспорт товаров в формате YML]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[export]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>